{{ partial "header.html" . }}

<div style="background:url('img/splash1.jpg') center center; background-size:cover;" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <h1 class="display-3" style="color:white;font-family:'Lora',serif;" align="center">Intelligent Financial Management</h1>
        <hr class="my-4" style="border-color:white" align="center">
        <p class="lead" style="color:white;font-family:'Open Sans',sans-serif" align="center">OtterFi provides you with the knowledge to manage your money better than the pros.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>


  
<div>
  {{ range .Site.Taxonomies.categories.goals.Pages}}
        {{.Title}}{{.Date}}
  {{end}}
</div>

<div>
  {{ range .Site.Taxonomies.tags.credit.Pages }}
    {{.Title}}
  {{end}}
</div>

<div>
  {{ range .Site.Taxonomies.tags.banking.Pages }}
    {{.Title}}
  {{end}}
</div>

<ul>
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <li>
        <a href="/{{ $key | urlize }}/">{{ $key | title }}</a>
    </li>
    {{ end }}
</ul>


{{ partial "footer.html" . }}