{{ partial "header.html" . }}

<div style="background:url('img/splash1.jpg') center center; background-size:cover;" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <h1 class="display-3" style="color:white;font-family:'Lora',serif;" align="center">Intelligent Financial Management</h1>
        <hr class="my-4" style="border-color:white" align="center">
        <p class="lead" style="color:white;font-family:'Open Sans',sans-serif" align="center">OtterFi provides you with the knowledge to manage your money better than the pros.</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
  
  

  <h1>Pages</h1> 
  {{ range first 10 .Data.Pages }}
    {{if eq .Type "page"}}
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    {{ end }}
  {{ end }}
  
  <h1>Posts</h1> 
  {{ range first 10 .Data.Pages }}
    {{if eq .Type "post"}}
       <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}
  {{ end }}
    
{{ partial "footer.html" . }}