<div  class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <h1 class="display-3" style="color:white;font-family:'Lora',serif;" align="center">{{.Title}}</h1>
          <hr class="my-4" style="border-color:white" align="center">
        <p class="lead" style="color:white;font-family:'Open Sans',sans-serif" align="center">{{.Description}}</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>