
<div style="background-color:{{ $.Params.colors }}; background-size:cover;" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
          <img src="/img/solo.png" alt="OtterFi" height=200px style="float:right">
      </div>
        <div style="border-left:10px solid #fff;height:200px"></div>  
      <div class="col-5">
        <h1 style="font-family: 'Pacifico',cursive; color:white; font-size:1000%; float:left">{{ $.Params.title }}</h1>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
